@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');

/*Header*/

@import url('https://fonts.googleapis.com/css?family=Pangolin');

/*Body*/

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

/*Quote*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani');

/*Clock*/

@import url('https://fonts.googleapis.com/css?family=Amiri');

/*Accordion*/

body {
    /*background-image: url('../images/guru.png');*/
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
    /*background-size: stretch;*/
    font-family: 'Pangolin', cursive;
    /*backdrop-filter: blur(5px);*/
    /*background-color: red;*/
}

section {
    /*background-color: green;*/
}

.blockquote {
    border-radius: 20px;
    /*display: block;*/
    background: #fff;
    padding: 15px 20px 15px 20px!important;
    position: relative;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
    text-align: center;
}

.blockquote::before {
    content: "\201C";
    /*Unicode for Left Double Quote*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 5px;
    top: -3px;
}

.blockquote::after {
    content: "\201D";
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;
    position: absolute;
    right: 10px;
    top: 5px;
}

.about {
    /*float: right;*/
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

.topheader {
    padding: 20px;
    top: 0px;
    position: fixed;
    width: 100%;
    /*margin-left: 0.5%;*/
    border-radius: 2px 2px 10px 10px;
    z-index: 1000;
    background-color: rgba(34, 34, 34, 0.95);
    font-family: 'Patrick Hand SC', cursive;
}

.logoimg {
    width: 7em;
    top: 1em;
    -webkit-filter: blur(1px);
    /* Safari 6.0 - 9.0 */
    filter: blur(1px);
    position: absolute;
    transition: all 0.4s ease-in-out;
    transition-delay: 5s;
}

.logoimg:hover {
    -webkit-filter: blur(0px);
    /* Safari 6.0 - 9.0 */
    filter: blur(0px);
    transition-delay: 0s;
}

.insight101 {
    margin-left: 6em;
    font-size: 1.5em;
    color: #bbb;
    /*text-align: center;*/
    /*vertical-align: center;*/
}

.emp {
    color: #eee;
    font-size: 1.6em;
}

.firstH {
    /*margin-top: 130px!important;*/
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 0%;
    padding-top: 30px;
}

header {
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    color: #eee;
    /*background-color: rgba(255, 253, 208, 0.6);*/
    margin: 20px 30px;
    /*height: 5em;*/
    border-radius: 10px;
    /*: 100%;*/
}

header h1 {
    /*padding: 1.6em;*/
}

.definer {
    font-size: 150%;
    color: #222;
    line-height: 50px;
    padding-bottom: 10px;
}

.sectionhead {
    /*margin-left: 6em;*/
    transform: translate(0px, 20px);
    border-radius: 2% 2% 600% 600%;
    z-index: 1000;
    background-color: rgba(34, 34, 34, 0.95);
    font-size: 2.5em;
    padding-bottom: 14px;
    position: absolute;
    left: 40%;
    width: 20%;
    color: #bbb;
    text-align: center;
}

div.unit {
    position: relative;
    overflow: visible;
    height: 170%;
    /*-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    transition: 0.25s -webkit-filter linear;*/
    /*transition-delay: 5s;*/
    /*transition: filter 0.9s ease-in-out;*/
    /*margin: 50px 0;*/
}


/*div.unit:hover {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    transition-delay: 0s;
}*/


/*Go to top button*/

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgba(34, 34, 34, 0.4);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 7px 10px;
    /* Some padding */
    border-radius: 6px;
    /* Rounded corners */
}

#myBtn:hover {
    background-color: rgba(34, 34, 34, 0.6);
    /* Add a dark-grey background on hover */
}


/*For the up arrow*/

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

p#countdown {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: 'Rajdhani', sans-serif;
}


/*Progress Bar*/

progress {
    /* Positioning */
    position: fixed;
    left: 0;
    top: 0;
    /* Dimensions */
    width: 100%;
    height: 5px;
    /* Reset the appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Get rid of the default border in Firefox/Opera. */
    border: none;
    /* Progress bar container for Firefox/IE10+ */
    background-color: transparent;
    /*background-image: -webkit-linear-gradient(left, transparent, red);*/
    /* Progress bar value for IE10+ */
    color: red;
    /*color: rgb(120, 31, 25);*/
}

progress::-webkit-progress-bar {
    background-color: transparent;
    /*background-image: -webkit-linear-gradient(left, transparent, red);*/
}

progress::-webkit-progress-value {
    background-image: -webkit-linear-gradient(left, transparent, red);
    /*background-color: red;*/
}

progress::-moz-progress-bar {
    /*background-color: rgb(120, 31, 25);*/
    background-color: transparent;
    background-image: -moz-linear-gradient(left, transparent, red);
    /*background-color: red;*/
}

.imgo {
    width: 35px!important;
    height: 35px!important;
    left: 42.3%!important;
    top: 43%!important;
}

.bus {
    width: 38px!important;
    height: 68px!important;
    left: 41%!important;
    top: 21%!important;
}


/*Modal*/


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*Modal Button*/

.cd-read-more {
    padding: 15px 25px;
    /*font-size: 24px;*/
    text-align: center;
    cursor: pointer;
    outline: none;
    /*color: #fff;*/
    /*background-color: #4CAF50;*/
    border: none;
    /*border-radius: 15px;*/
    box-shadow: 0 6px #999;
    /**/
    float: right;
    /*font-size: 15px;*/
    font-size: 1rem;
    display: inline-block;
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: #ffffff;
    border-radius: 0.25em;
}

.cd-read-more:hover {
    /*background-color: #3e8e41;*/
    background-color: #bac4cb;
}

.cd-read-more:active {
    /*background-color: #3e8e41;*/
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/*Content boxes*/

.cd-timeline-content {
    background-color: rgba(255, 255, 255, 0.70)!important;
    -webkit-transition: background-color 0.6s ease-in 4s;
    -moz-transition: background-color 0.6s ease-in 4s;
    transition: background-color 0.6s ease-in 4s;
}

.cd-timeline-content:hover {
    background-color: rgba(255, 255, 255, 0.95)!important;
    -webkit-transition: background-color 0.17s ease-in 0s;
    -moz-transition: background-color 0.17s ease-in 0s;
    transition: background-color 0.17s ease-in 0s;
}


/*Accordion*/

button.accordion {
    /*background-color: #eee;*/
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    font-size: 21px;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    background: rgba(255, 255, 255, 0.8);
    /*transition: all 2s ease-in;*/
    /*-webkit-transition: all 2s ease-in;*/
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

button.accordion.active,
button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.accordioncont {
    background: rgba(255, 255, 255, 0.5);
    margin: 0% 10%;
    width: 80%;
}

div.panel {
    /*padding: 0 18px;*/
    background-color: rgba(0, 0, 0, 0);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin: 0% 10%;
}

p.panelcont {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    font-size: 19px;
    color: #111;
    text-align: justify;
    /*font-family: 'Amiri', serif;*/
    /*font-family: 'Calibri';*/
    font-family: 'Times New Roman';
    transition: all 0.4s ease-in-out;
}

p.panelcont:hover {
    background: rgba(255, 255, 255, 0.7);
    transition: all 0.4s ease-in-out;
}

.modalClass {
    background-color: rgba(255, 255, 255, 0.9)!important;
    width: 75%!important;
    left: calc(12.5% + 19%)!important;
    /*left: 0!important;*/
    max-height: 90%;
    overflow-y: scroll;
    padding: 20px;
}